// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.container {
display: grid;
justify-content: space-around;
flex-direction: column;
width: 100%;
margin-top: 40px;
margin-bottom: 50px;
}

.container h1 {
  color: #EA5A59;
}

.card {
  display: flex;
  justify-content: space-around;
  width: 450px;
  height: 500px;
  border: 1px solid lightgrey;
  padding: 20px;
  margin-bottom: 30px;
  margin-left: 40px;

}

.image {
  width: 400px;
  height: 250px;
  object-fit: cover;
}

.card-big {
  margin-left: 50px;
  margin-top: 50px;
  width: 480px;
  border: 1px solid lightgrey;
  padding: 30px;
}

.link {
  margin-left: 50px;
  margin-top: 20px
}

.btn-warning {
  margin: 20px;
  text-align: center;
}

.options {
  display: flex;
  justify-content: space-around;
}
